# Node modules
node_modules/
 
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.local
.env.*.local

# SQLite database files
*.db
*.sqlite
*.sqlite3
db/*.sqlite

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

